#general-container{
    margin-top: 2%;
}

h1{
    text-align: center;
    padding: 5%;
    color:white;
}

header {
    display: flex;
    align-items: center;
    background-color: black;
    
}
#img-header{
    max-width: 20%;
    
}

#intro{
    margin-bottom: 2%;
}

header div:last-child{
    flex-grow: 1;      
    color: white;      
    text-align: center;
}