#general-container{
    margin-top: 2%;
}

h1{
    text-align: center;
    padding: 3%;
    color:white;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

#intro{
    margin-bottom: 1%;
}

#lyrics-generator{
    background-color: black;
    color: white;
    margin-top: 4%;
    margin-bottom: 4%;
   
}

img{
    margin-top:5%;
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-10px); }
    100% { opacity: 1; transform: translateY(0); }
}

p {
    text-align: center;
}