#general-container{
    margin-top: 2%;
}

h1{
    text-align: center;
    padding: 5%;
    color:white;
}

header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    
}

#intro{
    margin-bottom: 2%;
}

#lyrics-generator{
    background-color: black;
    color: white
}

img{
    margin-top:5%;
}

